<h3>Alumno <small>{{alumno.nombre}}</small></h3>
<hr>
<button  [routerLink]="['/alumnos']" class="btn btn-outline-danger btn-sm">Regresar</button>
<button  class="btn btn-outline-success btn-sm" (click)="agregarNuevo(forma)">Nuevo</button>
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">
        <label>
        nombre
        </label>
        <input [(ngModel)]="alumno.nombre"  type="text" 
              name="nombre" 
              class="form-control" 
              placeholder="nombre del alumno">
      </div>
      <div class="form-group">
          <label>
          Apellido
          </label>
          <input [(ngModel)]="alumno.apellido" 
                type="text" name="apellido" 
                class="form-control" 
                placeholder="Apellido del alumno">
        </div>

        <div class="form-group">
            <label>
            Turno
            </label>
            <select [(ngModel)]="alumno.turno" name="turno" 
                  class="form-control">
                  <option value="Mañana">Mañana</option>
                  <option value="Tarde">Tarde</option>
            </select>
          </div>
          <div class="form-group">
              <label>
              Dni
              </label>
              <input [(ngModel)]="alumno.documento" 
                    type="text" name="documento" 
                    class="form-control" 
                    placeholder="documento">
            </div>
          <div class="form-group">
              <label>
              Sexo
              </label>
              <label 
              *ngFor="let s of sexos"
              class="custom-control custom-radio">
              <input [(ngModel)]="alumno.sexo" name="sexo" 
                      type="radio" 
                      [value]="s" 
                      class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{s}}</span>
            </label>
            </div>
            
          <div class="form-group"> 
            <button type="submit" 
              [disabled]="!forma.valid"
              class="btn btn-outline-primary">
              Gurdar Cambios
            </button>
          </div>

    </form>
  </div>
</div>